# Deny all
*

# Track source
!.gitignore
!LICENSE
!README.md
!.github/
!.github/workflows/
!.github/workflows/release.yml
!Dockerfile
!docker-compose.yml
!haproxy.cfg
!info.json
!go.mod
!go.sum

!cmd/
!cmd/**
!internal/
!internal/**

!resources/
!resources/*.json
!resources/*.bin
!resources/*.gz

# Scripts
!autoresearch.sh
